{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style/index.css' %}" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h1>{{ name }}</h1>
        <p class="role">{{ description }}</p>
        <div class="social-links">
          <a href="{{ linkedin }}" target="_blank">LinkedIn</a> |
          <a href="{{ github }}" target="_blank">GitHub</a>
        </div>
      </div>
    </header>
    <nav class="navbar">
      <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'experiencia' %}">Experiencia</a></li>
        <li><a href="{% url 'contact' %}">Contacto</a></li>
      </ul>
    </nav>
    <main class="main-content">
      <div class="container">
        <h2>¿Quién soy?</h2>
        <img
          src="{% static 'image/perfil_pixel.jpg' %}"
          alt="Foto de {{ name }}"
          class="profile-image"
        />
        <p>
          Soy un apasionado del desarrollo de software con un compromiso y una
          fuerte motivación interna para el crecimiento constante. Como
          estudiante de Ingeniería en Informática en INACAP y participante en la
          Incubadora de Desafío Latam, siempre busco desafíos y oportunidades
          para crecer como profesional, y estoy decidido a dar lo mejor de mí en
          este viaje de desarrollo de software. En una organización, valoraría
          un horario flexible y apoyo que me impulsen a seguir creciendo
        </p>
        <h2>Aptitudes</h2>
        <ul class="skills-list">
          <li>
            <strong>Lenguaje de Programación:</strong> JavaScript, Python,
            HTML/CSS
          </li>
          <li>
            <strong>Frameworks y Bibliotecas:</strong> Node.js, Express, Docker,
            React, Django, Bootstrap, Sass, Handlebars
          </li>
          <li>
            <strong>Base de datos:</strong> MySQL, MongoDB, PostgreSQL, Oracle
          </li>
          <li><strong>Herramientas:</strong> Git, GitHub</li>
          <li><strong>Sistema Operativos:</strong> Mac OS, Windows 10</li>
          <li><strong>Idioma:</strong> Español (Nativo), Inglés (Técnico)</li>
        </ul>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <p>&copy; 2024 {{ name }}</p>
      </div>
    </footer>
  </body>
</html>
