body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    color: #555;
}

.header {
    background-image: url('/static/image/cabecera_informatica.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    position: relative;
    border-bottom: 4px solid #333;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #ffffff;
    font-weight: bold;
    margin: 5px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header p {
    margin: 5px 0;
    font-size: 1.2em;
}

.role {
    font-size: 1.4em;
    color: #ffffff;
    font-weight: bold;
    margin: 5px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #00aced;
    text-decoration: none;
    margin: 0 5px;
}

.social-links a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #444;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    transition: background 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #333;
    border-radius: 5px;
}

.main-content {
    padding: 20px 0;
    background-color: #fff;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #333;
}

.main-content p {
    font-size: 1.1em;
    color: #555;
    padding: 0 15px;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px 0;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #fff;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
    display: inline-block;
}

.skills-list li {
    margin: 10px 0;
    font-size: 1.1em;
}

.skills-list li strong {
    color: #007bff;
}

.skills-container {
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}

.footer p {
    margin: 0;
    font-size: 0.9em;
}
